<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>일일호프 주문서</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>🍺 일일호프 주문서 🍺</h1>

<div class="menu-box">
    <a href="/order" class="btn">📝 주문</a>
    <a href="/sales" class="btn">💰 판매</a>
    <a href="/stats" class="btn">📊 통계</a>
</div>
<div class="bottom-nav">
    <a href="/">🏠 홈</a>
    <a href="/order">📝 주문</a>
    <a href="/sales">💰 판매</a>
    <a href="/stats">📊 통계</a>
</div>
</body>
</html>